* {
  font-family: "Roboto Condensed", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #000000;
  position: relative; /* Posição relativa para permitir controle dos elementos filhos */
}

input {
  background: #46aac3b2;
  border: 1px solid #46aac3;
  border-radius: 14px;
  border: none;
  height: 70px;
  width: 340px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #000000;
  opacity: 0.7;
  margin-top: 30px; /* Ajustei o espaço entre os inputs */
  box-shadow: 0px 18px 40px 0px #aec34659;
  position: relative;
  top: -50px;
  animation: backInLeft 2s;
}

.input-min {
  margin-right: 50px; /* Reduzi a margem entre os inputs */
  border: none;
}

button {
  width: 342px;
  height: 70px;
  margin-top: 20px; /* Ajustei o espaço entre o input e o botão */
  padding: 0px 76px; /* Corrigi o valor do padding */
  border-radius: 10px;
  box-shadow: 0px 18px 40px 0px #aec34659;
  background: #46aac39d;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: none;
  opacity: 0.8;
  animation: backInLeft 2s;
}

.meu-h1 {
  color: #46aac3;
  font-size: 80px; /* Aumentei o tamanho da fonte */
  font-weight: 400;
  line-height: 1.2; /* Reduzi o line-height para evitar um espaço grande entre as linhas */
  top: -80px; /* Aumentei a margem superior para dar mais espaço entre o vídeo e o título */
  text-align: center; /* Centralizei o texto */
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
  animation: backInLeft 2s;
}
.meu-h2 {
  color: #46aac3;
  font-size: 35px; /* Aumentei o tamanho da fonte */
  font-weight: 400;
  line-height: 1.2; /* Reduzi o line-height para evitar um espaço grande entre as linhas */
  top: -25px; /* Aumentei a margem superior para dar mais espaço entre o vídeo e o título */
  text-align: center; /* Centralizei o texto */
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
  animation: backInLeft 2s;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.8;
}

video {
  position: absolute; /* Posição absoluta para posicionamento preciso */
  top: 0; /* Ajuste a posição superior conforme necessário */
  left: 0; /* Ajuste a posição esquerda conforme necessário */
  width: 100%; /* Ajuste a largura conforme necessário */
  height: 100%; /* Ajuste a altura conforme necessário */
  object-fit: cover; /* Garante que o vídeo preencha a área especificada sem distorção */
  z-index: -1; /* Define o vídeo atrás dos outros elementos */
}
@media screen and (max-width: 800px) {
  .meu-h1 {
    font-size: 45px;
    line-height: 35px;
    text-align: center;
    flex-direction: column;
    display: flex;
  }
  .meu-h2 {
    font-size: 40px;
    line-height: 35px;
    flex-direction: column;
    text-align: center;
    top: -60px;
    display: flex;
  }
  input {
    margin: 18px;
    flex-direction: column;
    width: 210px;
    display: flex;
    position: center;
    top: -35px;
  }

  video {
    position: auto;
  }
  button {
    width: auto;
    height: 70px;
  }
}
